.Admin-SignIn{
     display: flex;
     height: 100vh;
     padding: 1rem 1vw;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     flex-direction: column;
}
.Admin-SignIn span{
     width: clamp(300px, 30%, 30%);
     display: grid;
     grid-template-columns: 80% 1fr;
     border-radius: 10px;
     border: 4px solid;
     color: var(--violet-primary);
}
.Admin-SignIn input, button{
     padding: 10px;
     border: none;
     background-color: transparent;
     font-size: clamp(25px, calc(2vh + 1vw), calc(2vh + 2vw));
}

.admin-container{
     display: flex;
     flex-direction: column;
     padding: 1rem 5vw;
     align-items: center;
     justify-content: center;
     text-align: center;
}
.admin-container h2{
     margin: 10px 0;
     font-size: clamp(30px, calc(2vh + 2vw), calc(2vh + 2vw));
}
