.brands-page{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.brands-page h2{
     margin: 10px 0;
     font-size: clamp(2rem, calc(1vh + 1vw + 1rem), calc(1vh + 1vw + 1rem));
}
.brands-page section{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     margin-top: 1rem;
}
.brands-page section article{
     width: clamp(300px, calc(20vw + 10rem), calc(20vw + 10rem));
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     border: 4px solid var(--green);
     padding: 1rem 5%;
     border-radius: 5px;
     gap: 10px;
}
.brands-page section article h3{
     margin: 0;
     font-size: clamp(2rem,  calc(2vh + 1vw), calc(2vh + 1vw));
}
.brands-page section article svg{
     font-size: clamp(3rem, calc(3vw + 6vh), calc(3vw + 6vh));
}