@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
:root{
  --violet-primary: #551731;
  --violet-secondary: #7a2d4d;
  --brown: #262501;
  --primary-white: #ffeefc;
  --secondary-white: #e0d6dd;
  --green: #169c50;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Baloo 2', cursive;
  box-sizing: border-box;
  outline: none;
}
.display-none{
  display: none;
}
.page{
  margin-top: 6rem;
}
.btn-primary, .btn-secondary{
  font-weight: 600;
     border-radius: 5px;
     font-size: clamp(20px, calc(1vh + 1vw), calc(1vh + 1vw));
     padding: 10px;
     border: 4px solid;
     cursor: pointer;
     transition: ease-out 500ms;
}
.btn-primary{
  position: relative;
  color: var(--primary-white);
  background-image: linear-gradient(to bottom, var(--violet-primary), var(--violet-secondary));
  border-left: 0;
  border-right: 0;
  border-top: 4px solid var(--violet-primary);
  border-bottom: 4px solid var(--violet-secondary);
}
.btn-primary:hover{
  transform: scale(1.05);
}
.btn-secondary{
     color: var(--brown);
     background-color: transparent;
     position: relative;
     border-color: var(--green);
     z-index: 1;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.btn-secondary::before{
    transition: 500ms ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
}
.btn-secondary:hover::before{
    transition: 500ms all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.btn-secondary::before{
  background-color: var(--green);
}
.btn-secondary:hover{
  color: var(--primary-white);
  border-color: var(--green);
}

