@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
:root{
  --green: #19b859;
  --secondary-green: #65cd7f;
  --orange: #e7742d;
  --white: #edfff3;
  --black: #131a16;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Baloo 2', cursive;
  box-sizing: border-box;
  outline: none;
}
.display-none{
  display: none;
}
.page{
  margin-top: 6rem;
}
.btn-primary, .btn-secondary{
  font-weight: 600;
     border-radius: 5px;
     font-size: clamp(20px, calc(1vh + 1vw), calc(1vh + 1vw));
     padding: 10px;
     border: 4px solid;
     cursor: pointer;
     transition: ease-out 500ms;
}
.btn-primary{
  position: relative;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 10px;
  z-index: 1;
}
.btn-primary::before{
  content: "";
  position: absolute;
  background-color: var(--green);
  border-radius: inherit;
  width: 0;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s ease;
}

.btn-primary:hover::before{
  width: 100%;
}
.btn-secondary{
  background-color: transparent;
  color: var(--black);
  font-weight: 600;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(25px, calc(2vh + 1vw), calc(1vh + 2vw));
  padding: 10px;
  border: 4px solid var(--orange);
  transition: ease-out 500ms;
}
.btn-secondary:hover{
  color: var(--white);
}
.btn-secondary::before{
  transition: 500ms ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: var(--orange);
}
.btn-secondary:hover::before{
  transition: 500ms all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

