nav{
     background: var(--green);
     border-bottom: 5px solid var(--green);
     position: fixed;
     width: 100vw;
     transition: 1s;
     top: 0;
     height: 6rem;
     z-index: 2;
     left: 0;
     padding: 5px 5vw;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
}
nav.active-nav{
     background: var(--white);
     border-bottom: 5px solid var(--green);
}
nav h2{
     font-size: clamp(2rem, calc(2vh + 2vw), calc(2vh + 2vw));
     margin: 0;
     color: var(--white);
}
nav.active-nav h2{
     color: var(--green);
}
@media screen and (max-width: 500px) {
     nav h2{display: none;}
}
nav .hamburger{
     position: relative;
     z-index: 4;
     background-color: transparent;
     padding: 5px;
     height: 80px;
     cursor: pointer;
  transition: all .5s ease-in-out;
     display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
nav .hamburger span{
     position: relative;
     border-radius: 5px;
     width: 60px;
     transition: 500ms;
     height: 6px;
     background-color: var(--white);
}
nav.active-nav .hamburger span{
     background-color: var(--green);
}
.hamburger span:first-child, .hamburger span:last-child{
     width: 50px;

}
.open-nav .hamburger-1{
     transform: rotate(45deg);
     top: 16px;
}
.open-nav .hamburger-2{
     width: 0;
}
.open-nav .hamburger-3{
     transform: rotate(-45deg);
     bottom: 16px;
}
aside{
     transition: 500ms;
     position: fixed;
     top: 6rem;
     padding: 10px 1vw;
     z-index: 4;
     height: calc(100vh - 6rem);
     right: -100vw;
     background-color: var(--white);
     width: 100vw;
     color: var(--black);
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
}
.ActiveAside{
     right: 0;
}
aside h2{
     font-size: clamp(2rem, calc(2vh + 2vw), calc(2vh + 2vw));
     margin: 0;
     padding:0;
}
aside ul{
     margin: 10px 0;
     padding: 0;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: center;
}
aside ul button div{
     width: calc(5vw + 4vh);
     height: calc(5vw + 4vh);
}
aside ul button div img{
     width: 100%;
     height: 100%;
}
aside ul button h4{
     margin: 0;
}